@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

.btn-pink {
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}

.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}

.btn-black:hover {
  color: var(--mainPink) !important;
  background-color: var(--mainBlack);
}

.btn-pink:hover {
  color: var(--mainBlack) !important;
  background-color: var(--mainPink);
}

.cart-page {
  height: 100vh;
  background: url("./images/headerBcg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
